__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
.env

data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

outputs/*
!outputs/.gitkeep

.ipynb_checkpoints/
wandb/
runs/
